body{
  background-color: bisque;
}



h5{
  color:darkorchid;
  font-size: 40px;
}

#memes{
  height: 400px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p{
  font-size: 20px;
}

#page1{
  color:darkorchid;
  background-color: beige;
  float:left; 
}

#page2{
  Color: white;
  background-color: blue;
  float:left; 
}

#page3{
  color: blue;
  background-color: aquamarine;
}

.instagram{
  height: 60px;
}