body{
  background-color: bisque;
}



h5{
  color:darkorchid;
  font-size: 40px;
}

#memes{
  height: 400px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}